
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
venv/
.venv/

# Node
node_modules/
frontend/build/

# Runtime files
.env
media/
static/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfvars
infra/*.tfvars.json
infra/crash.log
infra/crash.*.log
infra/terraform.log
